/*
    Author: Gus Cochran

    Last edit: 6/5/24
*/

body {
    padding: 1vw;
}

.root{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.matrix-container{
    width: 100vw;
    height: 100vh;

    display: flex;
    gap: 5vw;
    justify-content: center;
}

.matrix-container > .matrix{
    width: 40vw;

    border-right: 8px solid black;
    border-left: 8px solid black;
    border-radius: 20%;
    border-width: 10px;
    

    /* background-color: red; */
}


.matrix > .matrix-grid{
    height: 100%;
    width: 100%;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.matrix-field{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.matrix-field > .matrix-input{
    width: 30px;
    text-align: center;

    border: none;
    background-color: transparent;
}

.solver-button{
    width: 100vw;
}

.buttons-container{
    width: 100vw;
    height: 20vh;

    display: flex;

    background-color: black;
}

.steps-container{
    width: 100vw;
    height: 100vh;

    display: flex;
}

.step{
    width: 100vw;
    background-color: blueviolet;
}